@model School_project.Models.Teacher1
@{
    ViewBag.Title = "DeleteConfirm";
}


<div id="containerShow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId"> Cancel</a>
    </nav>

    <h2><span>Are you sure you want to delete</span> @Model.TeacherFname @Model.TeacherLname?</h2>

    <form method="post" action="/Teacher/Delete/@Model.TeacherId">

        <button href="" style="margin:0 auto; color:white; background-color:red; display:block;"> Confirm Delete</button>

    </form>
    <p>This action cannot be undone !</p>
</div>
